/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../image/bg03.jpg);
    height: auto;
    /*transform: scale(1);*/
    transform-origin: center top 0px;
}
.main{
    /*width: 100%;*/
    height: auto;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 10%;
    background-image: url(../image/huabian.png);
    background-repeat: no-repeat;
    /*background-position: 5% 5%;*/
    background-size: 73% 100%;
    background-position: 50% 40%;
}


input{
    width: 45%;
    height: 3em;
    background-color: rgba(224, 227, 232, 0.11);
    margin-left: 23%;
    border-radius: 5px;
    /*margin: auto;*/
    opacity: 1;
    outline-style:none;
    border: 1px solid rgba(239, 239, 239, 0.15);
    font-size: 1em;
    color: #bdc0b8;
    font-family: "微软雅黑";
    padding-left:40px;
    margin-top: 4%;
}
input:focus{
    background-color: rgba(196, 199, 204, 0.40);
    /*border: 1px solid #7FCAF1;*/
    box-shadow: 0px 0px 5px rgba(241, 237, 239, 0.35);
    opacity: 1;
}
#submit{
    width: 51.2%;
    height: 3em;
    font-size: 1em;
    background-color: rgba(0, 133, 159, 0.96);
    font-weight: bolder;
    font-family: "微软雅黑";
    opacity: 1;
    margin-left: 22.9%;
}
#submit:active{
    background-color: rgba(0, 113, 136, 0.96);
    top: 5px;
    box-shadow: 0px 0px 5px rgba(241, 237, 239, 0.35);
}
.main .center{
    width: 35%;
    height: 28em;
    padding: 5.5% 0% 0% 0%;
    background-image: url(../image/center.png);
    background-size: 170% 150%;
    background-position: 53% 49%;
    opacity: 1;
    margin: auto;
    font-size:14px;
    color: #cccccc;
}

#user_pass{
    display: block;
    position: absolute;
    width: 17%;
    height: auto;
    /*background-color: red;*/
    margin-left: -2%;
    /*margin-top: -2.3%;*/
}
#pwd_pass{
    display: block;
    position: absolute;
    width: 14%;
    height: auto;
    /*background-color: red;*/
    margin-left: -2%;
}

#surePwd_pass{
    display: block;
    position: absolute;
    width: 14%;
    height: auto;
    /*background-color: red;*/
    margin-left:-2%;
}
#surePwd{
    background-image: url(../image/we2.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 20% 78%;
}

.Cone{
    color: #adadad;
    position: absolute;
    margin-left: 8.3%;
    margin-top: 2%;
    height: 50px;
    font-size:1.35em;}


@media screen and (max-width: 1366px) {
    .main .center{
        width: 44%;
        height: 30em;
        padding: 6% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 170% 150%;
        background-position: 53% 56%;
        opacity: 1;
        margin: auto;
        font-size:14px;
        color: #cccccc;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 10.7%;
        margin-top: 2.5%;
        height: 50px;
        font-size:1.2em;
    }
    input{
        width: 43%;
        height: 2.7em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 23.6%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top: 4%;
    }
    #user_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left: 2.1%;
        /*margin-top: -2.3%;*/
    }
    #pwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left: 2.1%;
    }

    #surePwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left:2.1%;
    }
    #submit{
        width: 49.5%;
        height: 3em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 23.4%;
        padding-left: -50px;
    }
}

@media screen and (max-width: 1280px) {
    .main{
        /*width: 100%;*/
        height: auto;
        /*background-color: #6db0dd;*/
        /*background-image: url(../image/two.png);*/
        background-size: 100% 100%;
        margin: auto;
        margin-top: 15%;
    }
    .main .center{
        width: 50%;
        height: 28em;
        padding: 6% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 170% 150%;
        background-position: 53% 56%;
        opacity: 1;
        margin: auto;
        font-size:14px;
        color: #cccccc;
    }
    #submit{
        width: 49%;
        height: 3em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 23.6%;
        padding-left: -50px;
    }
    input{
        width: 43%;
        height: 3em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 23.6%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top: 4%;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 12.1%;
        margin-top: 3%;
        height: 50px;
        font-size:1.2em;
    }
    #user_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left: 3.9%;
        /*margin-top: -2.3%;*/
    }
    #pwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left: 3.9%;
    }

    #surePwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left:3.9%;
    }
}

@media screen and (max-width: 980px) {
    .main{
        /*width: 100%;*/
        height: auto;
        background-size: 100% 100%;
        margin: auto;
        margin-top: 20%;
    }
    .main .center{
        width: 50%;
        height: 28em;
        padding: 7% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 180% 160%;
        background-position: 53% 56%;
        opacity: 1;
        margin: auto;
        font-size:14px;
        color: #cccccc;
    }
    input{
        width: 40%;
        height: 2.7em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 23.8%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top: 5.5%;
    }
    #submit{
        width: 48.4%;
        height: 3em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 23.2%;
        padding-left: -50px;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 12.4%;
        margin-top: 4%;
        height: 50px;
        font-size:1.1em;
    }
    #user_pass{
        display: block;
        position: absolute;
        width: 17%;
        height: auto;
        /*background-color: red;*/
        margin-left: 11%;
        /*margin-top: -2.3%;*/
    }
    #pwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left: 11%;
    }

    #surePwd_pass{
        display: block;
        position: absolute;
        width: 14%;
        height: auto;
        /*background-color: red;*/
        margin-left:11%;
    }
}
@media screen and (max-width: 800px) {
    .main{
        /*width: 100%;*/
        height: auto;
        background-size: 100% 100%;
        margin: auto;
        margin-top: 25%;
    }
    .main .center{
        width: 55%;
        height: 26em;
        padding: 7% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 180% 160%;
        background-position: 53% 56%;
        opacity: 1;
        /*margin: auto;*/
        margin-top: 20%;
        font-size:14px;
        color: #cccccc;
    }
    input{
        width: 40%;
        height: 2.5em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 23.8%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top:5.7%;
    }
    #user_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        /*background-color: red;*/
        margin-left: 14%;
        /*margin-top: -2.3%;*/
    }
    #pwd_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        /*background-color: red;*/
        margin-left: 14%;
    }

    #surePwd_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        /*background-color: red;*/
        margin-left:14%;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 13.4%;
        margin-top: 4%;
        height: 50px;
        font-size:1.1em;
    }
    #submit{
        width: 49%;
        height: 3em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 23.4%;
        padding-left: -50px;
    }
}

@media screen and (max-width: 700px) {
    .main{
        /*width: 100%;*/
        height: auto;
        background-size: 100% 100%;
        margin: auto;
        margin-top: 29%;
    }
    .main .center{
        width: 60%;
        height: 26em;
        padding: 7% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 180% 160%;
        background-position: 53% 56%;
        opacity: 1;
        /*margin: auto;*/
        margin-top: 20%;
        font-size:14px;
        color: #cccccc;
    }
    input{
        width: 45%;
        height: 2.5em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 21.4%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top:5.7%;
    }
    #submit{
        width: 52%;
        height: 2.5em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 23.4%;
        padding-left: -50px;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 13.4%;
        margin-top: 4.8%;
        height: 50px;
        font-size:1.1em;
    }
}

@media screen and (max-width: 360px) {
    .main{
        /*width: 100%;*/
        height: auto;
        background-size: 100% 100%;
        margin: auto;
        margin-top: 35%;
    }
    .main .center{
        width: 80%;
        height: 22em;
        padding: 19% 0% 0% 0%;
        background-image: url(../image/center.png);
        background-size: 180% 160%;
        background-position: 53% 56%;
        opacity: 1;
        /*margin: auto;*/
        margin-top: 20%;
        font-size:14px;
        color: #cccccc;
    }
    input{
        width: 45%;
        height: 2em;
        background-color: rgba(224, 227, 232, 0.11);
        margin-left: 21.4%;
        border-radius: 5px;
        opacity: 1;
        outline-style:none;
        border: 1px solid rgba(239, 239, 239, 0.15);
        font-size: 1em;
        color: #bdc0b8;
        font-family: "微软雅黑";
        padding-left:37px;
        margin-top:5.7%;
    }
    #submit{
        width: 58%;
        height: 2em;
        font-size: 1em;
        background-color: #4c7c97;
        font-weight: bolder;
        font-family: "微软雅黑";
        opacity: 1;
        margin-left: 21.4%;
        padding-left: -50px;
    }
    .Cone{
        color: #999999;
        position: absolute;
        margin-left: 19%;
        margin-top: 6.8%;
        height: 50px;
        font-size:1.1em;
    }

    #user_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        margin-left: 14%;
    }
    #pwd_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        margin-left: 14%;
    }

    #surePwd_pass{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        margin-left:14%;
    }
}
